*{
  margin: 0px;
  padding: 0px;
  color: #484848;
  font-size: calc(0.5em + 1vw);
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
.container{
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 10px;
}