.places{
  width: 100%;
  padding: 30px 20px;
}
.places h1{
  font-size: 30px;
}
.places .grid{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 20px;
}
.grid article{
  padding: 20px;
  margin: 20px;
  width: 390px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
}
.grid article h2{
  font-size: 30px;
  text-align: center;
}